@import '../../../scss/themeSrc';
.account-overview{
    .account-detail{
        padding: 60px 30px;
        text-align: center;
        h5{
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
            span{
                margin-left: 15px;
                cursor: pointer;
            }
        }
        .accNumber{
            font-weight: normal;
            font-size: 12px;
            line-height: 24px;
            padding: 10px 0;
        }
        h4{
            font-weight: bold;
            font-size: 28px;
            line-height: 40px;
        }
        p{
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            padding: 15px 0 30px;
        }
        .button-group{
            button{
                margin: 0 10px;
                font-weight: bold;
                font-size: 14px;
                line-height: 24px;
                min-width: 170px;
            }
        }
    }
    .programs-detail{
        text-align: left;
        strong{
            font-weight: bold;
            font-size: 12px;
            line-height: 24px;
            padding-left: 24px;
        }
        label{
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
        }
        a{
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            justify-content: flex-end;
            text-decoration: underline;
            color: $primaryColor;
            padding-right: 24px;
        }
        .odd,.even{
            padding: 15px 0;    
        }
        .even{
            background-color: $programTableBg;
        }
    }
    .mt-20{
        margin-top: 20px !important;
    } 
    .pb-15{
        padding-bottom: 15px !important;
    }
    .mt-40{
        margin-top: 40px !important;
    }
    .mailing-address{
        padding: 24px;
        h5{
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
        }
        label{
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            padding-bottom: 10px;
        }
        a{
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: $primaryColor;
            display: block;
        }
        button{
            min-width: 160px;
            margin-top: 20px;
        }
        img{
            max-width: 100%;
        }
    }
    .need-update{
        padding: 24px;
        margin-top: 30px;
        a{
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: $primaryColor;
        }
        button{
            width: 100%;
            margin-top: 15px;
        }
    }
}

