@font-face {
    font-family: 'OpenSans-Light';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),  
    url('../assets/fonts/OpenSans-Light.woff') format('woff'), 
    url('../assets/fonts/OpenSans-Light.ttf')  format('truetype'), 
    url('../assets/fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
    src: local('Open Sans'), local('OpenSans'),
         url('../assets/fonts/OpenSans-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/OpenSans-Light.ttf')
  }  
  @font-face {
    font-family: 'OpenSans-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/OpenSans-Regular.ttf'); /* IE9 Compat Modes */
    src: local('Open Sans'), local('OpenSans'),
         url('../assets/fonts/OpenSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
  } 
  @font-face {
    font-family: 'OpenSans-SemiBold';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),  
    url('../assets/fonts/OpenSans-SemiBold.woff') format('woff'), 
    url('../assets/fonts/OpenSans-SemiBold.ttf')  format('truetype'), 
    url('../assets/fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
    src: local('Open Sans'), local('OpenSans'),
         url('../assets/fonts/OpenSans-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
  }
  
  @font-face {
    font-family: 'OpenSans-Bold';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),  
    url('../assets/fonts/OpenSans-Bold.woff') format('woff'), 
    url('../assets/fonts/OpenSans-Bold.ttf')  format('truetype'), 
    url('../assets/fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    src: local('Open Sans'), local('OpenSans'),
         url('../assets/fonts/OpenSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
  }
  @font-face {
    font-family: 'OpenSans-ExtraBold';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/OpenSans-ExtraBold.ttf'); /* IE9 Compat Modes */
    src: local('Open Sans'), local('OpenSans'),
         url('../assets/fonts/OpenSans-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */
  }
  
  @font-face {
    font-family: "Material Design Icons";
    src: url("../assets/fonts/materialdesignicons-webfont.eot?v=4.8.95");
    src: url("../assets/fonts/materialdesignicons-webfont.eot?#iefix&v=4.8.95") format("embedded-opentype"), url("../assets/fonts/materialdesignicons-webfont.woff2?v=4.8.95") format("woff2"), url("../assets/fonts/materialdesignicons-webfont.woff?v=4.8.95") format("woff"), url("../assets/fonts/materialdesignicons-webfont.ttf?v=4.8.95") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  /* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/materials.woff2) format('woff2');
  }

 
//   $font-family-light:'OpenSans-Light';
//   $font-family-regular:'OpenSans-Regular';
//   $font-family-semibold:'OpenSans-SemiBold';
     $font-family-bold: 'OpenSans-Bold';
//   $font-family-extrabold:'OpenSans-ExtraBold';
//   $Material-Design-Icons:'Material Design Icons';
//   $Material-Icons:'Material Icons';


