// color Variables
$primaryColor: #29BBAE;
$secondaryColor: #bb2930;
$buttonColor:#bb2929;
$whiteColor:#ffffff;
$linkColor:#29bbae;
$paragraphColor:#696969;
$HeadingColor:#1982C5;
$borderColor:#DBDBDB;
$ShadeThreeColor: #333333;
$blackColor:#000000;
$hintColor:#262526;
$lightGray:#333333;
$grayLighter:#F5F5F5;
$selectFrom:#F8FBFD;
$selectBorder:#C7C7C7;
$profiletxtColor: #767676;
$arrowIcon:#4D4D4D;
$colorGreen :#088856;
$programTableBg: #F5F5F5;


// font-weight
$wight100:100;
$wight200:200;
$wight300:300;
$wight400:400;
$wight500:500;
$wight600:600;
$wight700:700;
$wight900:900;

// Text 
$upperCase: uppercase;
$lowerCase: lowercase;
$capitalize: capitalize;
$textRight: right;
$textLeft: left;
$textCenter: center;

// display
$dBlock: block;
$dFlex: flex;
$dInlineBlock: inline-block;
$dNone: none;


// Breakpoint
$lgDeivce:1200px;
$mdDeivce:1199px;
$smDeivce:991px;
$xsDeivce:767px;
